/* LISTA VACIA */
.tabla-vacio{
    background-color: #ffffff;
}
.imagen2 {
    margin-left: 78%;
    width: 125px;}

.contenedor {
    display: flex;
}

.imagen1 {
    margin-left: 850px;
}

.gif {
    width: 160px;
    height: 160px;
}

/* LISTA LLENA */

.tabla1 {
    margin: 0 32px 0 40px;
    background-color: #aceee6;
    max-height: 756px;
   overflow: auto;    
}
table{
    width: 100%;
}

td,th {
    padding: 30px;
}
td {
    background-color: #a2ddd6;
    font-size: 18px;
    text-align: -webkit-center;
}

th {
    background-color: #254653;
    font-size: 24px;
    color: #ffffff;
border: #aceee6 1px solid;

    
}
thead{
    position: sticky;
    top: 0;
    z-index: 1;
}
table > thead > tr > th:nth-child(1){
    width: 125px;
}
table > thead > tr > th:nth-child(5){
    width: 78px;
}
.lp {
    width: 45px;
    height: 45px;
}
