.barra-herramientas{
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #f7f7f8;
    border-radius: 16px;
    margin: 0 32px 20px 40px;
}
.venta-historico{
    width: 250px;
    height: 50px;
    background: #2a9d8f;
    border-radius: 0 16px 0 16px;
    color: #ffffff;
    text-align: center;
}
.imgboton {
    margin-left: 78%;
}
