
@media screen and (max-width: 768px) {
    .izq{
        display: none;
    }
    .pantalla-dividida{
        width: 85% !important;
        display: block !important;
    }
    .btn_field {
        gap: 10% !important;
        margin-top: 90px !important;
        margin: auto !important;
        margin-top: 90px !important;
    }
    .btn_field .cancelar {
        padding: 2% 5% !important;
        margin: 5% 0 !important;
    }
    .btn_field .botonsiguiente{
        padding: 2% 5% !important;
        margin: 5% 0 !important;
    }
    .boton_anterior_registrar{
        gap: 10% !important;
        margin-top: 90px !important;
        margin: auto !important;
        margin-top: 90px !important;
    }
    .boton_anterior_registrar a{
        padding: 2% 5% !important;
        margin: 5% 0 !important;
    }
    .boton_anterior_registrar .botonAR{
        padding: 2% 5% !important;
        margin: 5% 0 !important;
    }
    .footer > p {
        font-size: 14px;
    }
}
@media screen and (max-width: 425px) {
    .btn_field {
        max-width: 90% !important;
    }
    .boton_anterior_registrar{
        max-width: 90% !important;
    }
    .seccion_inputs{
        margin: 0 10% !important;
    }
    .contenedor_general{
        max-width: 100% !important;
    }
}

@media screen and (max-width: 768px) {
    .login-form{
        width: 80% !important;
    }
    .button-container{
        width: 90% !important;
    }
}
@media screen and (max-width: 425px) {
    .login-form{
        width: 100% !important;
    }
}
