.izquierda-derecha{
    display: flex;
}
.lado-izquierdo{
    flex: 0 1 280px;
}
.lado-derecho{
    flex: 1;
}
.header{
    display: flex;
    height: 100px;
    align-items: center;
}
.header-titulo{
    flex-basis: 80%;
    margin-left: 40px;
}
.header-usuario{
    display: flex;
    align-items: center;
    flex-basis: 20%;
    justify-content: flex-end;
    margin-right: 32px;
}
