.contenido{
    height: 80.9vh;
    width: 97%;
    padding: 15px 15px 11px 15px;
}

.izq img{
    height: 100%;
}

.contenedor_general{
    color: #2A323F;   
}
.pantalla-dividida{
    grid-template-columns: 50% 50%;
    display: grid;
    justify-content: center;
    background-color: #ffffff;
    width: 1240px;
    margin: auto; 
}   
.der {
    background-color: #ffff;
}
.der_titulo_tienda{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
}
.der_titulo_tienda h1{
    margin: 0 0 35px 56px;
    font-size: 20px;
    color:#2A9D8F ;
} 
.der_titulo_tienda div img{
    width: 100px;
}
.der_titulo_tienda img{
    margin: 35px 35px 0px 0px;
}

.seccion_inputs {
    margin-left: 70px;
}
.contenedor_general{
    display: block;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 0 30px 0;
    max-width: 50%;
}
.contenedor_general label{
    color: #2A323F;  
    margin-bottom: 15px;
}
.contenedor_general input{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}
.contenedor_general input::placeholder {
    color: #808080;
    font-size: 15px;
}
.error-tienda {
    color: red;
    margin: 0;
}
.boton_anterior_registrar {
    border-radius: 10px;
    background-color: #2A323F;
    border: 1px solid #000000;
    display: flex;
    flex-direction: row;
    gap: 40px;
    max-width: 68.49%;
    margin: 0;
    justify-content: center;
    margin-top: 115px;
    margin-right: 35px;
    margin-left: auto;
}
.boton_anterior_registrar .botonR{
    font-weight: bold;
    color: #FFFFFF;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #ffffff;
    padding: 11px 34.12px;
    margin: 19px 0;
    cursor: pointer;
    text-decoration: none;
    background-color: #2A323F;
}
.boton_anterior_registrar  .botonAR{
    color: #FFFFFF;
    border-radius: 10px;
    /* padding: 9px 100px; */
    background-color: #2DD1AC;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    /* margin-right: 95px; */
    border: 1px solid #2DD1AC;
    padding: 11px 34.1px;
    margin: 19px 0;
    cursor: pointer;
}
