.izquierda-derecha{
    display: flex;
    min-height: 96.93%;
}
.lado-izquierdo{
    flex: 0 1 280px;
    background-color: #254653;
}
.lado-izquierdo-mostrar{
    left: 0;
}
.lado-derecho{
    flex: 1;
    margin: 0 40px;
}
.header{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}
.header-titulo{

}
.header-usuario{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
a {
    text-decoration: none;
  }
