    table {
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
        margin-top: 28px;
        margin-bottom: 25px;
    }
    
    th,
    td {
        font-size: 18px;
        padding: 10px;
        text-align: center;
    }
    
    tbody>tr>td {
        font-size: 16px;
    }
    
    td {
        color: #3d3d3d;
        padding: 10px;
        text-align: center;
    }
    
    th {
        border-right: 1px solid #fff;
        padding: 8px;
    }
    
    th:last-child {
        border-right: none;
    }
    
    tbody tr {
        background-color: #ffffff;
    }
    
    tr:nth-child(even) {
        background-color: #D2D2D2;
    }
    
    thead {
        background-color: #254653;
        color: white;
    }
    
    .table-container {
        margin-top: 20px;
    }
    
    .labels-container1 {
        display: flex !important;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 10px;
    }
    
    .total1 {
        display: flex;
        justify justify-content: center;
        align-items: center;
        line-height: 25px;
        background-color: #E76F51;
        border-radius: 0 16px 0 16px;
        padding: 5 0 5 10px;
        width: 200px;
        height: 30px;
        color: #ffffff;
        text-align: center;
        margin-right: 10px;
    }
    
    .total1 h4 {
        margin: 10px 10px;
    }
    
    .cantidad1 {
        display: flex;
        justify justify-content: center;
        align-items: center;
        background-color: #2A9D8F;
        border-radius: 0 16px 0 16px;
        padding: 5 0 5 20px;
        line-height: 25px;
        width: 190px;
        height: 30px;
        color: #ffffff;
        text-align: center;
        margin-right: 10px;
    }
    
    .cantidad1 h4 {
        margin: 10px 10px;
    }

/*
#################################################################
#################################################################
PAGINA: DETALLE VENTAS 
MEDIDAS:
    360-480
    481-768
    769-1024
    1025-1440
    1445-1920
INICIO
#################################################################
#################################################################
*/

@media screen and (min-width: 360px) and (max-width: 480px) {
    .labels-container1 {
        max-width: 100%;
        display: initial!important;
    }
    .cantidad1 {
        margin-top: 10px;
    }
    .table-container3 {
        flex-direction: column-reverse;
        align-items: flex-end;
        overflow-x: auto;
    }
    table {
        min-width: 100%;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .labels-container1 {
        max-width: 100%;
        display: initial!important;
    }
    .cantidad1 {
        margin-top: 10px;
    }
    .tabla3 {
        margin-top: 10%;
        margin-left: 2%;
        margin-left: 20px;
        min-width: 100%;
    }
    .table-container3 {
        flex-direction: column-reverse;
        align-items: flex-end;
        overflow-x: auto;
        min-width: 100%;
    }
    table {
        min-width: 100%;
    }
}

@media screen and (min-width: 360px) and (max-width: 1025px) {
    .tabla3 {
        margin-top: 5%;
        margin-left: 0%;
        margin-left: 5px!important;
        min-width: 100%;
    }
    .table-container3 {
        flex-direction: column-reverse;
        align-items: flex-end;
        overflow-x: auto;
        min-width: 100%;
    }
    table {
        min-width: 100%;
    }
}

@media screen and (max-width:768px) {
    .tabla3 {
        max-width: 85vw;
        margin-left: -4%;
        min-width: 100%;
    }
    .tabla3 {
        max-height: unset !important;
        min-width: 100%;
    }
}


/*
#################################################################
#################################################################
PAGINA: DETALLE VENTAS
MEDIDAS:
    360-480
    481-768
    769-1024
    1025-144
    1445-1920
FIN
#################################################################
#################################################################
*/
